<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thanhgiong.member"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Manager"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="Login" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Members" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MemberEdit"
            android:label="Edit" >
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="Pvj18TX5HnaDUHyQpr7zfEwjBQfz8Td70WJlvzzC" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="RQzjgP3XdeVoGkN6rOZJBxvAOgxX8vwMP8vDC7Zh" />
    </application>

</manifest>